{% extends "base.html" %}

<link rel="stylesheet" href="../static/bootstrap.css">

{% block main %}

        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        Download links
                    </th>
                </tr>
                </thead>
                {% for title,link in download_links %}
                    <tr>
                        <td>
                            <a href="{{ link }}">{{ title }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock main %}